@use "constants" as *
@use "mixins" as *
@use "header" as *

body
  font-family: Arial, sans-serif
  margin: 0
  padding: 0
  background-color: $background-color

a
  box-sizing: border-box
  display: block
  text-decoration: none
  color: white

.btn
  @extend a
  width: fit-content
  padding: 8px 24px
  border-radius: 1em
  transition: ease-in-out 0.2s

.cover
  background-color: $accent

.second-header
  background-color: $accent
  color: $black
  padding: 20px
  text-align: center

.course-list
  max-width: 1200px
  margin: 20px auto
  padding: 20px
  background-color: $background-color
  border-radius: 8px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)

h2
  text-align: center
  color: $text-color

.courses
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  gap: 24px
  padding: 20px

.course
  border-radius: 16px
  height: 300px
  overflow: hidden
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  text-align: center
  transition: transform 0.2s
  position: relative

  &:hover
    transform: scale(1.05)

  &:hover .info
    background-color: rgba(25, 25, 25, 0.9)
    display: block

  &:hover img
    filter: grayscale(100%)

  .info
    position: absolute
    display: none
    bottom: 0

  img
    width: 300px
    height: 300px
    object-fit: cover

  h3
    color: $secondary-accent
    margin-top: 10px

  p
    color: $secondary-accent
    margin: 5px 0

footer
  background-color: $accent
  color: $black
  text-align: center
  padding: 10px
  margin-top: 20px

.search
  width: min(420px, 80vw)
  margin: 0 auto
  padding: 24px
  display: flex
  align-items: center

  label
    width: 0

  input[type="text"]
    width: 100%
    max-width: 400px
    padding: 12px 16px
    font-size: 16px
    border: 2px solid #ccc
    border-radius: 10px
    background-color: #f9f9f9
    transition: 0.3s ease
    outline: none

  input[type="text"]:focus
      border-color: $accent
      background-color: #fff
      box-shadow: 0 0 8px rgba(106, 90, 205, 0.3)

  i
    color: $accent
    margin-left: 12px
    font-size: 36px

  i:hover
    color: #4d33b8


.error-search::placeholder
  color: #d50a2e

.sorting
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: min(420px, 80vw)
  margin: 0 auto
  column-gap: 24px
  row-gap: 12px

  i
    @include option-icon

  .sorting-option
    @include option-style

  .sorting-option:hover
    background-color: $accent

.filtering
  display: flex
  flex-direction: column
  width: min(420px, 80vw)
  margin: 0 auto
  gap: 12px

  i
    @include option-icon

.filtering-option
  .name
    @include option-style
    width: fit-content

    &:hover
      background-color: $accent

.options
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: min(420px, 80vw)
  row-gap: 12px
  column-gap: 24px

  input
    display: none

  label
    @include option-style
    background-color: $background-color
    border: 1px solid $accent
    &:hover
      background-color: $accent

  input[type="checkbox"]:checked + label
    background-color: $secondary-accent
    border: 1px solid $secondary-accent

    &:hover
      background-color: $accent

.pagination
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: min(420px, 80vw)
  margin: 0 auto
  gap: 12px

  i
    @include option-icon
    color: $secondary-accent

    &:hover
      color: $accent

.inactive
  display: none !important

